<div class="container full-height">
  <div class="content full-height valign-wrapper">
    <div id="mycard" class="card">
      <div fxLayout="column" class="full-height" fxLayoutAlign="center">
        <div fxFlex fxFlexAlign="center" class="full-width">
          <div id="contents" class="card-content">
            <div fxLayout="column">
              <div fxFlex  class="mb-2">
                <div fxLayout="row wrap" fxLayout.lt-sm="column" >
                  <div fxFlex="220px" fxFlex.lt-sm="100"><p>Name <span fxShow.lt-sm>:</span></p></div>
                  <div fxFlex="calc(50% - 220px)"><p><span fxHide.lt-sm>:&nbsp;</span>Mike Ross</p></div>
                </div>
              </div>
              <div fxFlex  class="mb-2">
                <div fxLayout="row wrap" fxLayout.lt-sm="column">
                  <div fxFlex="220px" fxFlex.lt-sm="100"><p>Mobile Number <span fxShow.lt-sm>:</span></p></div>
                  <div fxFlex="calc(50% - 220px)"><p><span fxHide.lt-sm>:&nbsp;</span>6836553437</p></div>
                </div>
              </div>
              <div fxFlex  class="mb-2">
                <div fxLayout="row wrap" fxLayout.lt-sm="column">
                  <div fxFlex="220px" fxFlex.lt-sm="100"><p>Email <span fxShow.lt-sm>:</span></p></div>
                  <div fxFlex="calc(50% - 220px)"><p><span fxHide.lt-sm>:&nbsp;</span>mikeross@gmail.com</p></div>
                </div>
              </div>
              <div fxFlex  class="mb-2">
                <div fxLayout="row wrap" fxLayout.lt-sm="column">
                  <div fxFlex="220px" fxFlex.lt-sm="100"><p>Account Balance <span fxShow.lt-sm>:</span></p></div>
                  <div fxFlex="calc(50% - 220px)"><p><span fxHide.lt-sm>:&nbsp;</span>$340</p></div>
                </div>
              </div>
              <div fxFlex class="mb-2">
                <div fxLayout="row wrap" fxLayout.lt-sm="column">
                  <div fxFlex="220px" fxFlex.lt-sm="100"><p>Bookings this Month <span fxShow.lt-sm>:</span></p></div>
                  <div fxFlex="calc(50% - 220px)"><p><span fxHide.lt-sm>:&nbsp;</span>5</p></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
